/Viikko1/NHL/.nb-gradle/
/Viikko1/NHL/build/
/Viikko1/RiippuvuuksienInjektointi/build/
/Viikko1/RiippuvuuksienInjektointi/.nb-gradle/
/Viikko2/Verkkokauppa1/.nb-gradle/
/Viikko3/.nb-gradle/
.nb-gradle/
.gradle
build/
/Viikko3/HelloCucumber/.nb-gradle/
/Viikko3/LoginCucumber/.nb-gradle/
/Viikko3/WebLogin/.nb-gradle/
node_modules/
/Viikko2/Teht1/.nb-gradle/
/build/
/Viikko4/IntJoukkoSovellus/.nb-gradle/
